.containerPresentation {
  position: relative;
  left: 5vw;
  display: flex;
  justify-content: center;
  z-index: 2;
  flex-direction: column;
  gap: 1vw;
  width: fit-content;
}

.titlePresentation {
  display: flex;
  font-family: 'Anton';
  font-size: 48px;
  width: 30vw;
}

.generalPresentation {
  display: flex;
  z-index: 2;
  width: 35vw;
  padding: 1vw 2vw 1vw 2vw;
  background-color: rgba(251, 251, 251, 0.2);
  border-radius: 33px;
  box-shadow: white 0px 0px 5px;
}

.textPresentation {
  font-family: 'Inter';
  font-size: 16px;
  width: 100%;
  color: white;
}

.imagePresentation {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.imgPres {
  width: 20vw;
  height: 20vw;
}
